@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Navigation
	3.3 Hamburger Menu
	3.4 Full Screen Menu
4. Main Slider
	4.1 Main Slider Dots
	4.2 Main Slider Nav
5. Home Social
6. Features
7. About
	7.1 About Progress Bars
8. Testimonials
	8.1 Testimonials Navigation
9. Services
10. Clients
	10.1 Clients Slider
11. Contact
12. Footer



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Myriad Pro Regular';
	src: url('../fonts/myriad-pro-regular.ttf')  format('truetype'),
		 url('../fonts/myriad-pro-regular.otf')  format('opentype');
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #6e6e6e;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #ff5c03;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #ff5c03;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 30px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}

.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}
.button
{
	width: 187px;
	height: 66px;
	background: #ff5c03;
	overflow: hidden;
}
.button a
{
	display: block;
	width: 100%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 300;
	line-height: 66px;
	text-transform: uppercase;
	letter-spacing: 6.7px;

}
.button a img
{
	display: inline-block;
	width: 13px !important;
	height: 7px;
	margin-left: 4px;
}
.button a::after
{
	display: block;
	position: absolute;
	top: -50%;
	left: -70px;
	width: 60px;
	height: 200%;
	background: rgba(255,255,255,0.1);

	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}
.button a:hover::after
{
	left: calc(100% + 70px);
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 100% !important;
}

/*********************************
3. Header
*********************************/


.header
{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 60px;
	padding-right: 2%;
	z-index: 20;
	background: rgb(45, 45, 45);

    /*-webkit-box-shadow: 1px 1px 1px 1px rgb(255, 92, 3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /*-moz-box-shadow: 1px 1px 1px 1px rgb(255, 92, 3);  /* Firefox 3.5 - 3.6 */
   /* box-shadow: 0px 3px 2px 0px rgba(132, 140, 136, 0.73); */

}

.header_svg{
    -webkit-box-shadow: 1px 1px 1px 1px rgb(255, 92, 3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 1px 1px 1px rgb(255, 92, 3);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 3px 0px 0px rgba(255, 92, 3, 0.7);
    height: 62px;
    min-width: 220px;
}

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	flex-basis: 50%;
}
.logo
{
	margin-left: 7px;
}
.logo a
{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #171717;
	text-transform: uppercase;
}
.logo span:first-of-type
{
	position: absolute;
	top: 0;
	left: -5px;
	color: #ff5c03;
	z-index: -1;
}
.logo span:last-of-type
{
	color: #ff5c03;
}

/*********************************
3.2 Main Navigation
***********


**********************/

.main_nav
{
	margin-right: -3px;
	height: 100%;
	flex-basis: 200%;
	text-align: right;
}
.nav_items
{
	height: 100%;
}

#about_us{
	padding: 20px;
}
.nav_items li
{
	display: inline-block;
	padding-left: 10px;
	height: 100%;
}
.nav_items li a
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #a7aea3;
	letter-spacing: 3.5px;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 14px;
	padding-right: 20px;
}
.penel li a{
    font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #a7aea3;
	letter-spacing: 3.5px;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
}
.nav_items li.active
{
	/*background: #ff5c03;*/
    border-bottom: 3px solid #ff5c03;
	color: #ff5c03;
}
.nav_items li.active a
{
	color: #ff5c03;
}
.nav_items li:hover
{
	/*background: #ff5c03;*/
    border-bottom: 3px solid #ff5c03;
	color: #ff5c03;
}





.nav_items div:hover a
{
	color: #ff5c03;
}


.nav_items div
{
	display: inline-block;
	padding-left: 10px;
	height: 100%;
}
.nav_items div a
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #a7aea3;
	letter-spacing: 3.5px;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 14px;
	padding-right: 20px;
}
.penel div a{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #a7aea3;
	letter-spacing: 3.5px;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
}
.nav_items div.active
{
	/*background: #ff5c03;*/
	border-bottom: 3px solid #ff5c03;
	color: #ff5c03;
}
.nav_items div.active a
{
	color: #ff5c03;
}
.nav_items div:hover
{
	/*background: #ff5c03;*/
	border-bottom: 3px solid #ff5c03;
	color: #ff5c03;
}
.nav_items div:hover a
{
	color: #ff5c03;
}




/*********************************
3.3 Hamburger Menu
*********************************/

.hamburger_container
{
	display: none;
	cursor: pointer;
	padding: 10px;
	margin-right: -10px;
	flex-basis: 50%;
	text-align: right;
}
.hamburger_text
{
	display: inline-block;
	margin-right: 7px;
	font-weight:bold;
    font-size: 110%;
	color: #b4b4b4;
}
.hamburger_icon
{
	position: relative;
	display: inline-block;
	width: 22px;
	height: 3px;
	background: #b4b4b4;
	margin-bottom: 4px;
}
.hamburger_icon::before,
.hamburger_icon::after
{
	display: block;
	position: absolute;
	left: 0;
	width: 22px;
	height: 3px;
	background: #b4b4b4;
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger_icon.active
{
	background: transparent;
}
.hamburger_icon.active::before
{
	top: -9px;
	transform: translateY(9px) rotate(45deg);
}
.hamburger_icon.active::after
{
	top: 9px;
	transform: translateY(-9px) rotate(-45deg);
}
.hamburger_icon::before
{
	top: -6px;
}
.hamburger_icon::after
{
	top: 6px;
}
.hamburger_container:hover .hamburger_icon::before
{
	top: -8px;
}
.hamburger_container:hover .hamburger_icon::after
{
	top: 8px;
}
.hamburger_container:hover .hamburger_icon.active::before
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 0;
}
.hamburger_container:hover .hamburger_icon.active::after
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	top: 0;
}

/*********************************
3.4 Full Screen Menu
*********************************/

.fs_menu_container
{
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 19;
	-webkit-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-moz-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-ms-transition: all 1s 0s cubic-bezier(1,0,0,1);
	-o-transition: all 1s 0s cubic-bezier(1,0,0,1);
	transition: all 1s 0s cubic-bezier(1,0,0,1);
	padding-left: 48px;
	padding-right: 63px;
	padding-top: 150px;
	text-align: right;
}
.fs_menu_shapes
{
	position: absolute;
	bottom: 32px;
	left: -70px;
	width: 25%;
}
.fs_menu_shapes img
{
	width: 100%;
}
.fs_menu_container.active
{
	top: 0;
}
.fs_menu_list
{
	display: inline-block;
}
.fs_menu_list li
{
	overflow: hidden;
}
.fs_menu_list li a
{
	display: inline-block;
	font-size: 62px;
	font-weight: 700;
	color: #171717;
	line-height: 1.4;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-moz-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-ms-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	-o-transition: all 600ms 600ms cubic-bezier(.19,1,.22,1);
	transition: all 1600ms cubic-bezier(.19,1,.22,1);
}
.fs_menu_list li:first-child a {transition-delay: 600ms;}
.fs_menu_list li:nth-child(2) a {transition-delay: 670ms;}
.fs_menu_list li:nth-child(3) a {transition-delay: 740ms;}
.fs_menu_list li:nth-child(4) a {transition-delay: 810ms;}
.fs_menu_list li:nth-child(5) a {transition-delay: 880ms;}
.fs_menu_list li:nth-child(6) a {transition-delay: 950ms;}
.fs_menu_list li:nth-child(7) a {transition-delay: 900ms;}
.fs_menu_list li:nth-child(8) a {transition-delay: 950ms;}
.fs_menu_list li:nth-child(9) a {transition-delay: 1000ms;}
.fs_menu_list li:nth-child(10) a {transition-delay: 1050ms;}
.fs_menu_container.active .fs_menu_list li a
{
	transform: none;
}
.fs_menu_list li a span
{
	position: relative;
}
.fs_menu_list li a span span
{
	position: absolute;
	top: -1px;
	left: -5px;
	color: #ff5c03;
	z-index: -1;
}
.fs_menu_list li a > span::after
{
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 0%;
	height: 3px;
	background: #171717;
	content: '';
	-webkit-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-moz-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-ms-transition: all 600ms cubic-bezier(.19,1,.22,1);
	-o-transition: all 600ms cubic-bezier(.19,1,.22,1);
	transition: all 600ms cubic-bezier(.19,1,.22,1);
}
.fs_menu_list li a:hover span::after
{
	width: 100%;
}
.fs_social_container
{
	position: absolute;
	bottom: 0px;
	right: 63px;
	width: auto;
	height: 74px;
	z-index: 11;
}
.fs_social li
{
	display: inline-block;
	margin-left: 10px;
}
.fs_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.fs_social li i
{
	font-size: 13px;
	color: rgba(255,66,0,0.6);
}
.fs_social li:hover i
{
	color: rgba(255,66,0,1);
}

/*********************************
4. Main Slider
*********************************/


.actionBarMenus{
    float: right;
    padding: 15px;
    vert-align: middle;
}

.actionBarMenus:hover{
    color: #ff5c03;
    cursor: pointer;
    float: right;
    padding: 15px;
    vert-align: middle;
    border-bottom: 3px #ff5c03 solid;
}

.li_custom{
    margin-top: 10px;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.li_custom:hover{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 90%;
    background-color: rgba(205, 206, 203, 0.49);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 190px;
    margin-left: -40px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


.customSelect{
    height: auto;
    color: #767775;
    margin-top: 4px;
    border-width: 0px;
    background-color: transparent;
}

.hero_slider_container
{
	width: 100%;
	height: 600px;
	margin-top: 60px;
	background-color: rgb(45, 45, 45);
}
.main_slider_shapes
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 16%;
	max-width: 25%;
	height: auto;
	z-index: 2;
}
.main_slider_item{
	background-color: rgb(45, 45, 45);
	width: 100%;
	height: 100%;
}
.main_slider_item_bg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-size: cover;
    background: no-repeat center center;
}
.main_slider_content
{
	width: 50%;
	height: 100%;
	margin-top: 150px;
	float: left;
	min-height: 400px !important;
}
.main_slider_content h1,h2
{
	font-weight: 200;
	line-height: 1.15;
	color: #FFFFFF;
}
.main_slider_content h1,h2 span
{
	font-family: 'Myriad Pro Regular', sans-serif;
}
.main_slider_content p
{
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
	padding-left: 5px;
	margin-top: 1px;
}
.discover_button
{
	margin-top: 42px;
	margin-left: 180px;
}

/*********************************
4.1 Main Slider Dots
*********************************/

.main_slider_dots
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 74px;
	width: 100%;
	z-index: 11;
}
.main_slider_custom_dots li
{
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	line-height: 74px;
	color: #FFFFFF;
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;
	margin-right: -4px;
}
.main_slider_custom_dots li.active
{
	background: #ff5c03;
}
.main_slider_custom_dot.active,
.main_slider_custom_dot:hover
{
	background: #ff5c03;
}

/*********************************
4.2 Main Slider Nav
*********************************/
/* workshop stream */
.usage{
	width: 100%;
	min-height: 300px !important;
}
/* end of workshop stream */

.main_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 11;
	padding: 10px;
	cursor: pointer;
}
.main_slider_nav_left
{
	left: 39px;
}
.main_slider_nav_right
{
	right: 39px;
}
.main_slider_nav i
{
	color: #FFFFFF;
	font-size: 18px;
}
.main_slider_nav:hover i
{
	color: #ff5c03;
}

/*********************************
5. Home Social
*********************************/

.home_social_container
{
	position: absolute;
	top: 110px;
	right: 0px;
	width: auto;
	height: 74px;
	background: #ff5c03;
	z-index: 11;
	padding-right: 38px;
	padding-left: 45px;
}
.home_social li
{
	display: inline-block;
	margin-left: 10px;
}
.home_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.home_social li i
{
	font-size: 13px;
	color: rgba(255,255,255,0.6);
}
.home_social li:hover i
{
	color: rgba(255,255,255,1);
}

/*********************************
6. Features
*********************************/

.features_col
{
	padding-top: 120px;
	padding-bottom: 120px;
}
.features_item h3
{
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.features_item img
{
	/*margin-bottom: 35px;*/
}
.features_item p
{
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 23px;
	max-width: 100%;
}

/*********************************
7. About
*********************************/

.about
{
	padding-top: 195px;
	padding-bottom: 175px;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.about_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.about_shapes
{
	position: absolute;
	top: 0;
	left: 0;
}
.section_title h2
{
	display: inline-block;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.35;
	margin-bottom: 116px;
}
.section_title h2 span
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50px);
	-moz-transform: translate(-50%, -50px);
	-ms-transform: translate(-50%, -50px);
	-o-transform: translate(-50%, -50px);
	transform: translate(-50%, -50px);
	font-size: 72px;
	font-weight: 900;
	color: #ff0000;
	opacity: 0.32;
}
.section_title h2::before
{
	display: block;
	position: absolute;
	bottom: 61px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(calc(-50% - 4px));
	width: 2px;
	height: 45px;
	content: '';
	background: #FFFFFF;
}
.about_text
{
	padding-right: 50px;
}
.about_text p
{
	color: #FFFFFF;
	margin-bottom: 0px;
    text-align: justify;
    text-justify: inter-word;
}
.about_text img
{
	margin-top: 20px;
}
/*** our service **/
    .serv{
        padding-right: 0px;
        padding-left: 0px;
        background-color: #2E2E2E;
    }
    .test{
       position: relative;
        top: 70%;
    
        left: -2%; 
    }
    .con_ref{
        width: 100%;
        
    }
    .con_rel{
        width: 20%;
        padding: 20px;
        background-color: #ff5c03;
        float: left;
        
    }
    .card_view{
        background-color: rgba(47, 47, 47, 0.5);
        
    }
    .card_head{
        
        color: #ff5c03;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
    text-justify: inter-word;
        word-spacing: 0.001em;
    }
    .card_para{
        margin-top: 30px;
        color: #2E2E2E;
        /*font-family: 'Montserrat', sans-serif; */
        text-align: justify;
   /* text-justify: inter-word; */
       /* word-spacing: 0.001em; */
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .serv_rel{
        padding: 20px 0px 10px;
        border: #ff5c03 1px solid;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        min-width: 190px;

        
    }
    .serv_rel:hover{
        background-color: rgba(239, 147, 0, 0.4);
        -webkit-box-shadow: 1px 1px 1px 1px rgb(255, 92, 3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px rgb(255, 75, 0);  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px rgb(255, 75, 0);
    }



/*** end of our Service ***/
/*********************************
7.1 About Progress Bars
*********************************/

.skills_container
{
	padding-top: 10px;
}
.pb_item
{
	margin-bottom: 18px;
}
.pb_item h5
{
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.3em;
	margin-top: 18px;
}
.skill_bars
{
	height: 3px;
}
.progressbar-text
{
	width: 48px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-align: right;
}
/*** Our team css ***/
/*
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.card .card-image{
    overflow: hidden;
    margin: auto;
    horiz-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .card-image img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card .card-image:hover img{
    -webkit-transform: scale(1.2) rotate(-7deg);
    -moz-transform: scale(1.2) rotate(-7deg);
    -ms-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);
    transform: scale(1.2) rotate(-7deg);
}

.card{

    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
}

.our-team-explaination{
    min-height: 150px;
    padding: 20px;
}

.our-team-designation{
    text-align: center;
    font-size: 80%;
    margin-top: -20px;
    margin-left: 150px;
}

.card .card-content {
    margin: auto; horiz-align: center;
    padding: 10px;
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
   /* left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.btn-custom{
    background-color: transparent;
    font-size:18px;
}**/

/** profile card **/
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
	background: transparent !important;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #108d6f;
	border-color: #108d6f;
	box-shadow: none;
	outline: none;
}

.btn-primary {
	color: #fff;
	background-color: #007b5e;
	border-color: #007b5e;
}

section {
	padding: 60px 0;
}

section .section-title {
	text-align: center;
	color: rgb(45, 45, 45);
	margin-bottom: 50px;

}

#team .card {
	border: none;
	background: #ffffff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
	margin-bottom: 30px;
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	min-height: 312px;
}

.backside .card a {
	font-size: 18px;
	color: #ff530d !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	color: #ff530d !important;
}

.frontside .card .card-body img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/** end of profile card **/

/*** end of Our team css ***/
/*********************************
8. Testimonials
*********************************/

.testimonials
{
	padding-top: 125px;
	z-index: 2;
}
.section_title_dark h2
{
	color: #1c1c1c;
}
.section_title_dark h2::before
{
	background: #ff5c03;
}
.testimonials_container
{
	width: 100%;
}
.testimonials_container_inner
{
	position: absolute;
	top: 28px;
	left: 0;
	width: 100%;
	height: calc(100% - 28px);
	box-shadow: 0 22px 35px rgba(0,0,0,0.28);
}
.testimonials_container_inner::before
{
	display: block;
	position: absolute;
	width: calc(100% + 70px);
	height: calc(100% - 70px);
	content: '';
	background: rgba(242,244,249,0.85);
	z-index: -1;
}
.testimonials_container_inner::after
{
	display: block;
	position: absolute;
	top: 70px;
	left: -85px;
	width: calc(100% + 170px);
	height: calc(100% - 140px);
	content: '';
	background: rgba(242,244,249,0.65);
	z-index: -2;
}
.testimonials_slider
{
	z-index: 10;
}
.testimonials_item
{
	background: #FFFFFF;
}
.testimonials_content
{
	max-width: 100%;
}
.test_name
{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: #1c1c1c;
	text-transform: uppercase;
}
.test_title
{
	font-size: 15px;
	font-weight: 400;
	color: #ff5c03;
	margin-top: -5px;
}
.test_quote
{
	font-size: 30px;
	line-height: 1;
	color: #ff5c03;
	font-style: italic;
	margin-top: 15px;
}
.testimonials_content p
{
	max-width: 100%;
}
.testimonials_content p:first-of-type
{
	margin-top: -3px;
}
.test_user_pic
{
	position: absolute;
	top: -28px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 94px;
	height: 94px;
}

/*********************************
8.1 Testimonials Navigation
*********************************/

.test_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 10;
}
.test_slider_nav:hover
{
	background: #ff5c03;
}
.test_slider_nav:hover i
{
	color: #FFFFFF;
}
.test_slider_nav i
{
	font-size: 18px;
	color: #ff5c03;
}
.test_slider_nav_left
{
	left: -48px;
}
.test_slider_nav_right
{
	right: -48px;
}

/*********************************
9. Services
*********************************/

.services
{
	padding-top: 152px;
	padding-bottom: 120px;
	z-index: 1;
	margin-top: -32px;
}
.services_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.services_shapes
{
	position: absolute;
	top: 116px;
	right: 0;
}
.service_item
{

	margin-bottom: 30px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.service_item h3
{
	color: #2E2E2E;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 31px;
}
.service_item p
{
	color: #2E2E2E;
	max-width: 100%;
}
.icon_container
{
	height: 100px;
	width: auto;
	margin-bottom: 30px;
}
.services_button
{
	margin-top: 66px;
	margin-left: auto;
	margin-right: auto;
}

/*********************************
10. Clients
*********************************/
/* papup window */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	position: fixed;
	bottom: 30%;
	left: 10%;
	background-color: #fefefe;
	width: 80%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #ff5c03;
	color: white;
}
.modal-header h2{
	float: left;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}
/* end of papup window */

.clients
{
	padding-top: 192px;
	padding-bottom: 110px;
}

/*********************************
10.1 Clients Slider
*********************************/

.clients_slider
{
	margin-top: 87px;
	cursor: pointer;
}
.clients_item
{
	
}
.clients_item img
{
	margin: 0 auto;
	-webkit-filter: opacity(50%) grayscale(100%);
	-ms-filter: opacity(30%) grayscale(100%);
	-moz-filter: opacity(30%) grayscale(100%);
	filter: opacity(30%) grayscale(100%);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.clients_item:hover img
{
	-webkit-filter: opacity(100%) grayscale(0%);
	filter: opacity(100%) grayscale(0%);
}
.owl-carousel .owl-item img
{
	width: auto !important;
}

/* documentation */
/* * {
box-sizing: border-box;
}

body {
background-color: #474e5d;
font-family: Helvetica, sans-serif;
} */
.xylo{
	width: 100%;
	background-color: #2E2E2E;
	padding-bottom: 30px;

}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 1420px;
	background-color: #ff530d;
	top: 1%;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Container around content */
.container_xylo {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 40%;
}

/* The circles on the timeline */
.container_xylo::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.left {
	left: 9.6%;
}

/* Place the container to the right */
.right {
	left: 50.3%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}

/* The actual content */
.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;

}
.content p{
	font-size: 12px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
		height: 1430px;
	}

	/* Full-width containers */
	.container_xylo {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.container_xylo::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
		left: 15px;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0.5%;
	}
	.left{
		left: 0.5%;
	}
}
/* end of documentation */
/*********************************
11. Contact
*********************************/

.contact
{
	padding-top: 192px;
	padding-bottom: 120px;
}
.contact_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-size: cover;
    background: no-repeat center center;
}
.contact_shapes
{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(calc(-50% - 40px));
}
.contact_title h2
{
	margin-bottom: 54px;
}
.contact_text p
{
	color: #FFFFFF;
}
.contact_button
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

/*********************************
12. Footer
*********************************/

.footer
{

	width: 100%;
	background: #2E2E2E;
}
.footer_sp{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	background-color: #111111;
}
.footer_content
{
	height: 200px;
}
.footer_social_container
{
	display: inline-block;
}
.footer_social li
{
	display: inline-block;
	margin-left: 6px;
}
.footer_social li:first-child
{
	margin-left: 0px;
}
.footer_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.footer_social li i
{
	font-size: 14px;
	color: rgba(110,110,110,0.6);
}
.footer_social li:hover i
{
	color: rgba(255,255,255,1);
}
.cr p
{
	margin-bottom: 0px;
}